@import "less/_utils.less";
@import "less/_ui.less";
@import "geo/styles.less";
@import "render/styles.less";
@import "slicer/styles.less";
@import "board/styles.less";

body {
  background: #333;
}

/* #! TODO move to unrest */
ur-row {
  display: flex;
}

.home-link {
  bottom: 0;
  font-size: 2rem;
  position: absolute;
  right: 0;
  z-index: 9999;
}