@import "less/_utils.less";
@import "less/_ui.less";
@import "geo/styles.less";
@import "render/styles.less";
@import "slicer/styles.less";
@import "board/styles.less";

@import "uc/styles.less";

body {
  background: #333;
}

#main {
  align-items: center;
  display: flex;
  height: 100%;
}

/* #! TODO move to unrest */
ur-row {
  display: flex;
}

#nav {
  font-size: 2rem;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 9999;
}

tw-ui .box {
  text-align: center;
  .text {
    color: white;
    font-size: 0.8em;
    line-height: 1;
    text-shadow: 1px 1px 3px black
  }
}

tw-ui .scores {
  .row {
    align-items: center;
    color: white;
    display: flex;
    font-size: 0.25em;
    line-height: 1;
    .sprite {
      background-size: 125%;
      margin: 0 0.5em 0 0;
      width: 1.25em;
      height: 1.25em;
      &.ash {
        border: 0.1em solid;
      }
    }
  }
}

tw-ui {
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
  left: 0;
  padding-left: 2rem;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

tw-ui .box {
  border: 0.1em solid #5755d9;
  border-radius: 0.1em;
  height: 1em;
  margin-right: 0.5rem;
  width: 1em;
  &.badge {
    position: relative;
    &:after {
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      bottom: -0.25rem;
      box-shadow: none;
      position: absolute;
      right: -0.25rem;
      transform: none;
    }
  }
}

tw-ui .equipment, tw-ui .kills {
  display: flex;
  margin: 0.5rem;
}

tw-gameover {
  background: white;
  font-size: 1rem;
  padding: 2rem;
  position: fixed;
  z-index: 9999;
}

edit-board .card-body {
  display: flex;
  max-height: 100vh;
}

edit-board .controls {
  width: 250px;
}