img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
#card-box {
  display: flex;
  .card { margin: 0 10px; }
}

#game {
  position: relative;
}

tw-scores {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  .minimap {
    border: 1px black solid;
    font-size: 0.75rem;
    letter-spacing: 0px;
    line-height: 1em;
  }
}

[ur-mask] + .card {
  .input-field {
    label, ur-input {
      position: static;
      display: flex;
      flex-basis: 50%;
    }
  }
}