img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; /* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
#card-box {
  display: flex;
  .card { margin: 0 10px; }
}

#game {
  position: relative;
}

tw-scores {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  .minimap {
    border: 1px black solid;
    font-size: 0.75rem;
    letter-spacing: 0px;
    line-height: 1em;
  }
}

@empty: gray;
tw-scores {
  .health, .energy {
    margin-bottom: 1rem;
    width: 6*3.5rem;
  }
}
tw-scores .health {
  font-size: 3rem;
  .fa { color: @empty; line-height: 1; padding: 0 0.25rem; text-shadow: 3px 3px black; }
  .fa.red { color: red; }
}

tw-scores .energy {
  i {
    border: 1.5rem solid blue;
    border-radius: 100%;
    display: inline-block;
    margin: 0 0.25rem;
    transform: rotate(45deg);
  }
  [data-energy="0"] { border-color: @empty; }
  [data-energy="0.25"] { border-color: blue @empty @empty @empty; }
  [data-energy="0.5"] { border-color: blue blue @empty @empty; }
  [data-energy="0.75"] { border-color: blue blue blue @empty; }
}
