ur-slicer {
  display: block;
  overflow: auto;
  padding-bottom: 128px;
}
ur-slicer [ref=bg] {
  .pixelated;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: content-box;
  position: relative;
  [ref=box] {
    border: black solid;
    height: 1em;
    position: absolute;
    width: 1em;
  }
  [ref=hover] {
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .sprite-box {
    border: 1px solid black;
    color: black;
    background: rgba(255,255,255,0.9);
    font-size: 12px;
    position: absolute;
    &:hover {
      background: transparent;
      color: transparent;
    }
  }
}

ur-slicer {
  .inputs, .outputs {
    background: white;
    border: 3px black double;
    bottom: 0;
    padding: 0.5rem;
    position: fixed;
  }
}

ur-slicer .inputs {
  left: 0;
  label {
    display: flex;
    justify-content: space-around;
  }
  input { width: 50px; }
}

ur-slicer .outputs {
  background: #eee;
  right: 0;
  .close, .save {
    cursor: pointer;
  }
  .bgout {
    .pixelated;
    background-size: contain;
    cursor: crosshair;
    height: 2em;
    width: 2em;
  }
}
ur-slicer .checkered {
  background: white;
  &:hover {
    background-image:
    linear-gradient(45deg, #aaa 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #aaa 75%),
    linear-gradient(45deg, transparent 75%, #aaa 75%),
    linear-gradient(45deg, #aaa 25%, #fff 25%);

    background-size:20px 20px;
    background-position:0 0, 0 0, -10px -10px, 10px 10px;
  }
}

ur-sprite-preview {
  .pixelated;
  margin-bottom: 1rem;
  outline: 1px black solid;
  text-align: center;
  width: 175px;
  .sprite {
    background-size: cover;
    margin: 0 auto 0.5rem;
    height: 96px;
    width: 96px;
  }
}