dialog-box .outer {
  .ui-box;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

board-menu .board-list {
  display: flex;
  justify-content: center;
  margin: 0 -0.5rem;
  flex-wrap: wrap;
  .name {
    text-align: center;
  }
  .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .sprite {
      font-size: 2rem;
      height: 1em;
      width: 1em;
    }
  }
  .card {
    margin: 0 0.25rem 0.5rem;
    max-width: 12rem;
    position: relative;
    .edit {
      display: none;
      line-height: 1.25;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:hover .edit {
      display: block;
    }
  }
}