look-preview {
  .flex, .boards, .row {
    display: flex;
  }
  .row {
    flex-direction: column;
  }
  .cell {
    border: 1px solid black;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
  }
  .boards {
    flex-wrap: wrap;
    border: 4px double #888;
    justify-content: space-around;
    width: 500px;
    .board {
      margin-bottom: 1rem;
      .red {
        background: red;
      }
      .grey {
        background: grey;
      }
    }
  }
  ur-form form > * { flex-basis: unset !important; }
}