@scale: 1em;
@red: #a00;

.loop(@counter) when (@counter > -1) {
  .loop((@counter - 1));
  @c: @counter + 1;
  @w: ~"w-@{counter}";
  .@{w} {
    width: (@scale * @counter);
  }
  @h: ~"h-@{counter}";
  .@{h} {
    height: (@scale * @counter);
    &.board {
      font-size: 100vh / (@counter+1);
    }
  }
  @x: ~"x-@{counter}";
  .@{x} {
    left: (@scale * @counter);
  }
  @y: ~"y-@{counter}";
  .@{y} {
    top: (@scale * @counter);
  }
  @order: ~"follow_order-@{counter}:before";
  .@{order} {
    content:  ~"'@{counter}'"
  }
}

#html-renderer {
  .pixelated;
  &:empty { display: none; }
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  .loop(20);
  position: relative;
  &:not(:focus):before {
    background: rgba(255,255,255,0.75);
    content: "click me!";
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: @scale * 9;
    height: @scale * 9;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9/2 * @scale;
    z-index: 1;
  }
}

#html-renderer {
  .board {
    background: white;
    position: relative;
  }
  .square {
    height: @scale;
    border: 1px black solid;
    width: @scale;
    &.color-red { transition: 0s; }
  }
  .piece,.square {
    position: absolute;
    &.color-red { background: @red; }
    &.color-grey { background: grey; }
  }
  .player {
    border-radius: 25%;
  }
  .piece {
    line-height: 1;
    text-align: center;
    margin: 0.1 * @scale;
    transition: 0.25s;
    height: 0.8 * @scale;
    width: 0.8 * @scale;
  }
  .piece {
    border: 0.1 * @scale solid transparent;
  }
  .dxy-10 {
    border-right-color: @red;
  }
  .dxy--10 {
    border-left-color: @red;
  }
  .dxy-01 {
    border-bottom-color: @red;
  }
  .dxy-0-1 {
    border-top-color: @red;
  }
  .player {
    &.dxy-10 {
      border-right-color: blue;
    }
    &.dxy--10 {
      border-left-color: blue;
    }
    &.dxy-01 {
      border-bottom-color: blue;
    }
    &.dxy-0-1 {
      border-top-color: blue;
    }
  }

  .waiting-0, .waiting-1, .waiting-2, .waiting-3 {
    &:after {
      background-color: grey;
      bottom: 0;
      content: "";
      display: block;
      height: 0.2 * @scale;
      position: absolute;
      right: 0;
      width: 0.2 * @scale;
    }
  }
  .waiting-0 {
    &:after {
      background-color: red;
    }
  }

  .piece:before {
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    line-height: 1em;
  }
  @import "./_damage.less";
}

.sprite {
  background: center no-repeat;
  background-size: .8 * @scale;
}

