@scale: 1em;
@red: #a00;

.loop(@counter) when (@counter > -60) {
  .loop((@counter - 1));
  .w-@{counter} {
    width: (@scale * @counter);
  }
  .h-@{counter} {
    height: (@scale * @counter);
  }
  .x-@{counter} {
    left: (@scale * @counter);
  }
  .y-@{counter} {
    top: (@scale * @counter);
  }
  /*@order: ~"follow_order-@{counter}:before";
  .@{order} {
    content:  ~"'@{counter}'"
  }*/
}

.html-renderer {
  .pixelated;
  align-items: center;
  background: black;
  display: flex;
  max-height: 100%;
  margin: 0 auto;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  .loop(60);
  .test & {
    margin: 0;
  }
  &:empty { display: none; }
  [tabindex]:not(:focus) > &:before {
    @size: 6em;
    align-items: center;
    background: rgba(255,255,255,0.75);
    content: "click me!";
    cursor: pointer;
    display: flex;
    font-size: 0.5em;
    height: @size;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: 50%;
    margin: -@size/2;
    width: @size;
  }
}

.html-renderer.editor:before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.html-renderer {
  @size: 12em;
  height: @size;
  width: @size;
  &.huge {
    height: @size*2;
    width: @size*2;
  }
}

.html-renderer {
  .path, .floor_dxy, .ash, .gold, .room {
    z-index: 10;
  }
  .item {
    z-index: 20;
  }
  .wall {
    z-index: 30;
  }
  .piece {
    z-index: 40;
    &.sprite1x2- {
      &bluedragon, &purpledragon, &greydragon, &reddragon {
        z-index: 41;
      }
    }
  }
  .animation {
    z-index: 50;
    &.sprite-wait, &.sprite-wait-ready {
      z-index: 39;
    }
  }
  [tabindex]:not(:focus) > &:before,
  &:before {
    z-index: 100;
  }
  .box {
    z-index: 90;
  }
}

.html-renderer .hover-box {
  border: 2px blue solid;
  height: 1em;
  position: absolute;
  width: 1em;
}

.html-renderer:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.html-renderer {
  .oob { opacity: 0.5; }
  .board {
    position: absolute;
    top: 0;
    left: 0;
    transition: margin 0.25s linear;
    .piece {
      transition: 0.25s;
    }
    &.no-transition .piece {
      transition: none;
    }
  }
  .square {
    background-size: cover;
    height: @scale;
    width: @scale;
    &.color-red { transition: 0s; }
  }
  .piece,.square {
    position: absolute;
    &.color-red { background: @red; }
    &.color-grey { background: grey; }
  }
  .player {
    border-radius: 25%;
  }
  .piece {
    line-height: 1;
    margin: 0.1 * @scale;
    height: 0.8 * @scale;
    text-align: center;
    width: 0.8 * @scale;
    &.sprite1x2- {
      &bluedragon, &purpledragon, &greydragon, &reddragon {
        background-size: 0.9em auto;
        background-position: top;
        height: 1.5 * @scale;
        margin: -0.6em 0 0;
        width: 1em;
      }
    }
    &.flyking {
      background-size: cover;
      height: 1.4 * @scale;
      margin: -0.4 * @scale 0 0 -0.1 * @scale;
      width: 1.2 * @scale;
    }
  }
  .look {
    display: none;
  }
  .piece.following .look {
    display: block;
    font-size: 0.35em;
    position: absolute;
    top: -0.75em;
    left: 0.05em;
  }
  .piece {
    border: 0.1 * @scale solid transparent;
  }
  .dxy-10 {
    border-right-color: @red;
  }
  .dxy--10 {
    border-left-color: @red;
  }
  .dxy-01 {
    border-bottom-color: @red;
  }
  .dxy-0-1 {
    border-top-color: @red;
  }
  .player {
    &.dxy-10 {
      border-right-color: blue;
    }
    &.dxy--10 {
      border-left-color: blue;
    }
    &.dxy-01 {
      border-bottom-color: blue;
    }
    &.dxy-0-1 {
      border-top-color: blue;
    }
  }

  /*.piece:before {
    font-size: 0.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    line-height: 1em;
  }*/
  @import "./_damage.less";
  .health-1, .health-2, .health-3, .health-4, .health-5 {
    &:before {
      background-image: url('./img/sprites/heart64.png');
      background-size: auto 100%;
      content: "";
      height: 0.25em;
      left: -0.1em; /* for border */
      position: absolute;
      top: 80%;
      width: 1em; /* 4 and above */
    }
  }
  .health-1:before {
    width: 0.25em;
  }
  .health-2:before {
    width: 0.5em;
  }
  .health-3:before {
    width: 0.75em;
  }
  .health-5 {
    /* anything greater than 5 defaults to this */
    &:before {
      background-image: url('./img/sprites/heart64.png'), url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA4ElEQVRYR+2V0QnEMAxD200yVkfsWNnkjkIPiutIVhwIB+lvLPtFset9m/ztk+tvC2A50OVArecHNW8pRzhvOJAV9YAiICGAnuI/IAZBAbzipRzNF6j1fJ0hCAhAije1DZ0bLwE8bi7pLktu7UsnJWolsZ4D5+IAShIGgJxjTejNu/T2yP7rjAGEliUaU9Y3KYBgYXjR4QDmH0Hz0wD0BtYBZreXqxtgRPFUEzYA5AvJAmOjHVM5nywIzaUQ9L8AysZDhnQ7kNkVT6AF0O3AbaO0LYf+CYVJg6FZB9Ic0wG+SNtiIdduLB4AAAAASUVORK5CYII=");
      background-repeat: no-repeat;
      background-position: 0.25em center, 0.5em center;
      background-size: auto 100%, auto 100%;
    }
  }
}

.sprite.item {
  background-size: 90%;
  border-radius: 0.5rem;
}

.sprite {
  background: center no-repeat;
  background-size: .8 * @scale;
  height: 1em;
  width: 1em;
  &.hide {
    filter: grayscale(1);
    opacity: 0.5
  }
  &-red {
    background-color: rgba(255,0,0,0.5);
  }
}

.sprite {
  &-fireball {
    border-color: transparent !important;
  }
}


.html-renderer .animation {
  background-size: 70%;
  &.sprite-wait, &.sprite-wait-ready {
    background-color: grey;
    border-radius: 100%;
  }
  &.sprite-wait-ready {
    background-color: #A00;
  }
  &.sprite-explode {
    animation-duration: 0.3s;
    animation-name: growshrink;
    opacity: 0;
  }
}

.sprite.fade {
  animation-duration: 0.3s;
  animation-name: fadeout;
  opacity: 0;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes growshrink {
  from {
    opacity: 1;
    transform: scale(0.25);
  }
  50% {
    opacity: 1;
    transform: scale(1.5)
  }
  to {
    opacity: 0;
    transform: scale(0.25)
  }
}

.spriteloop(@slug, @counter) when (@counter > 0) {
  &.sprite-@{slug}-@{counter}:before {
    content: "@{counter}";
  }
  .spriteloop(@slug, @counter - 1)
}

.sprite.room {
  background: #F88;
  opacity: 0.5;
}

.sprite.ash, .sprite.gold {
  border-radius: 50%;
  height: 0.8em;
  line-height: 1;
  margin: 0.1em;
  text-align: center;
  width: 0.8em;
  &:before {
    font-size: 0.75em;
  }
}
.sprite.ash {
  background: #333;
  color: white;
  .spriteloop(ash, 16)
}
.sprite.gold {
  background: #883;
  border: 0.1em solid #888;
  color: white;
  .spriteloop(gold, 16);
  &.red-inner {
    background: red;
  }
  &.red-outline {
    border-color: red;
  }
}

.sprite {
  &.sprite-skeleton-legs {
    background-image: url('./img/sprites/skeleton-legs.png');
  }
  .board &.sprite-skeleton-legs {
    background-size: 1.1em;
    height: 1.1em;
    margin-top: -0.1em;
  }
  &.sprite-legsfordays {
    background-image: url('./img/sprites/legsfordays.png');
  }
  .board &.sprite-legsfordays {
    background-size: 1.2em;
    height: 1.2em;
    width: 1.2em;
    margin-left: -0.1em;
    margin-top: -0.1em;
  }
}